.NavbarContainer{
    
    background-color: rgba(0, 0, 0, 0.578) !important;
    backdrop-filter: blur(6px);
    box-shadow: none !important;
    overflow-y: hidden !important;
    
}

.ContactButtonNavbar{
    width: 150px !important;
}