

.infoContainer{
    padding-top: 5% ;
    width: 100% !important;
    display: flex;
    justify-content: center !important;

}

.infoContentContainer{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}

.infoCardContainer{
    
    width: 100% !important;
    margin: auto !important;
    padding-top: 7%;
    
}

.infoCard{
    border-radius: 0 25px 0 25px !important;
    min-height: 180px;
    margin: 0 15px;
    background-color: #21ecff33 !important;
    color: rgb(255, 255, 255) !important;
    border: solid 2px #21ebff;
    box-shadow: 0 0 5px #21ebff !important;
    transition: all ease-in-out .5s;
}

.infoCard:hover{
    box-shadow: 0 0 20px #21ebff !important;
}


.infoCardTitle{
    color: #FFFFFF;
    font-family: 'digital', sans-serif !important;
    font-size: 35px !important;
}

.infoNumberTitle{
    color: #FFFFFF;
    font-family: 'digital', sans-serif !important;
    font-size: 30px !important;
}

.infoNumberDescription{
    color: #FFFFFF;
    font-size: 20px !important;
}


